.contenedorIconoFecha{
    position: relative;
   
}

.iconoCalendarTurno{
    left: 305px;
    bottom: 18px;
    color: #23242a;
    cursor: pointer;
    position: absolute;
    z-index: 30;
}

@media (max-width: 968px) {
    .iconoCalendarTurno{
        left: 250px;
    }
}


  @media (min-width: 770px) and (max-width: 987px) {
    .inputsSacarTurnoFecha{
        width: 80%;
    }
    .iconoCalendarTurno{
        left: 140px;
    }
}

@media (min-width: 988px) and (max-width: 1200px) {
    .inputsSacarTurnoFecha{
        width: 80%;
    }
    .iconoCalendarTurno{
        left: 180px;
    }
}