.mjeTurnos {
    position: absolute;
    top: -30vh !important;
}

.inputDatePicker {
    width: 300px;
    height: 55px;
    border: 1px solid #C4C4C4;
    border-radius: 3.5%;
}

.turnoAsignado {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.btnTurno {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.textAreaObs{
    resize: none;
    overflow-y: scroll;
}